terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.log
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc