terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.log
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraformrc
terraform/terraform.rc


source-code/HELP.md
source-code/target/
source-code/.mvn/wrapper/maven-wrapper.jar
source-code/!**/src/main/**/target/
source-code/!**/src/test/**/target/

### STS ###
source-code/.apt_generated
source-code/.classpath
source-code/.factorypath
source-code/.project
source-code/.settings
source-code/.springBeans
source-code/.sts4-cache

### IntelliJ IDEA ###
source-code/.idea
source-code/*.iws
source-code/*.iml
source-code/*.ipr

### NetBeans ###
source-code//nbproject/private/
source-code//nbbuild/
source-code//dist/
source-code//nbdist/
source-code//.nb-gradle/
source-code/build/
source-code/!**/src/main/**/build/
source-code/!**/src/test/**/build/

### VS Code ###
source-code/.vscode/